nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(216, 216, 216, 0.4);

    
}

nav > div{
    padding: 10px;
}

nav > div > span{
    display: none;
}

nav > div > img{
    padding: 10px;
    padding-left: 15px;
}

nav > a > img{
    padding: 20px;
}
.header{
    margin-top: -1.25rem;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.dark_header{
display: none;
background-color: rgba(0, 0, 0, 0);
z-index: 100;
}



.menu{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(255, 255, 255);
  position: fixed;
  top: 11vh;
  width: 100%;
  height: 100vh;
  transition:  all 0.3s;
  z-index: 100;
}

.close_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 14px;
}

.close_container > img{
    margin-left: 10px;
    cursor: pointer;
}

.close_container > span{
    cursor: pointer;
}

.menu_elements{
    cursor: default;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 20px 50px;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
}

.menu_elements > span{
    margin-top: 2px;
}

.last_menu_elements{
    cursor: default;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 15px 50px;
    width: 100%;
    background-color: #efeeef;
}

.last_menu_elements > span{
    margin-top: 2px;
}

.opendarkmenu{
    background-color: rgba(0, 0, 0, 0.95);
    left: 0;
    display: inline;
    
}

.openmenu{
    right: 0;
}


.closemenu{
    right: -100%;
    display: none;
}

@media (min-width: 768px) {

    nav > div > span{
        display: inline;
    }

    .dark_header{
        width: 65vw;
        height: 100vh;
        position: fixed;
        top: 0;
        transition: all 1s;
        
        }
        .menu{
            display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background: rgb(255, 255, 255);
          position: fixed;
          top: 0vh;
          width: 35%;
          height: 100vh;
          transition:  all 0.5s;
        }
        .menu_elements{
            padding: 30px 50px;
           
        }

        .menu_elements > span{
            margin-top: 3px;
        }

        .last_menu_elements{
            padding: 30px 50px;
        }
        
        .last_menu_elements > span{
            margin-top: 3px;
        }


}